<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/songform}" th:object="${song}" method="post">
    Name: <input type="text" th:field="*{name}" > <br>
    Artist: <input type="text" th:field="*{artist}"> <br>
    Album: <input type="text" th:field="*{album}"> <br>
    Year: <input type="number" th:field="*{year}"><br>
    Genre:<br>
        <input type="radio" id="pop" name="genre" value="pop" th:field="*{genre}">
        <label for="pop">Pop</label><br>
        <input type="radio" id="rap" name="genre" value="rap" th:field="*{genre}">
        <label for="rap">Rap</label><br>
        <input type="radio" id="rock" name="genre" value="rock" th:field="*{genre}">
        <label for="rock">Rock</label><br>
        <input type="radio" id="ska" name="genre" value="ska" th:field="*{genre}">
        <label for="ska">Ska</label><br>
    Rating: <br>
    <input type="radio" name="rating" id="rating1" value="1" th:field="*{rating}">
    <label for="rating1">1</label>
    <input type="radio" name="rating" id="rating2" value="2" th:field="*{rating}">
    <label for="rating2">2</label>
    <input type="radio" name="rating" id="rating3" value="3" th:field="*{rating}">
    <label for="rating2">3</label>
    <input type="radio" name="rating" id="rating4" value="4" th:field="*{rating}">
    <label for="rating2">4</label>
    <input type="radio" name="rating" id="rating5" value="5" th:field="*{rating}">
    <label for="rating2">5</label>
    <br>
    <select th:field="*{inStock}">
        <option value="true">yes</option>
        <option value="false">no</option>
    </select>
  <input type="submit" value="Submit">
</form>

</body>
</html>